<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <!-- Google Maps cors override -->
  <script src="https://apis.google.com/js/api.js" type="text/javascript"></script>
</head>

<body>
  <h1>Have fun friends! 🥔</h1>

  <div class='SubmitInput' action="/categories/Films" method="get">
    <textarea name="text" id="to-do-input" placeholder="What are we doing today?"></textarea>
    <button type="submit" class="categorysubmitter">Add todo!</button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% for(let category of categories) { %>
        <tr>
          <td>
            <%= category.id %>
          </td>
          <td>
            <%= category.name %>
          </td>
          <td>
            <form method="get" action="">
              <button type='submit' class="btn btn-outline-primary">Edit!</button>  
            </form>
          </td>
          <td>
            <form method="POST" action="">
              <button type='submit' class="btn btn-outline-danger">Delete</button>
            </form>
          </td>
        </tr>
        <% } %>
    </tbody>
  </table>

</body>

</html>
