nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 120px;
  width: 100vw;
  background-color: #39395f;
  color: #FFFFFF;
  padding: 0 1.5em;
  position: sticky;
   top: 0;
   z-index: 100;

}

h1 {
  font-family: "Bungee", cursive;
  justify-content: center;
  margin-top: .7em;
  align-items: center;
}

.rightSideNav {
  display: flex;
  flex-direction: column;
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 1.9em;
}

.fa-angle-double-down {
  color: #a9c25d;
}


